.container {
  background-image: url("station.png");
  background-size: cover;
  font-weight: bold;
  text-align: center;
  height: 100vh;
  padding-top: 30px;
}
.wrapper {
  margin: 0 auto;
  background-color: white;
  width: 50%;
  border: 1px solid black;
}

h1 {
  color: black;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  padding-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin: 5px 20px;
}

#increment-btn {
  background: rgb(139, 73, 171);
}

#save-btn {
  background: rgb(193, 145, 200);
}
